<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section id="team-members">
        <div class="profile-card">
            <h2>Shaik Arshad</h2>
            <p>IT Department, MJECT</p>
        </div>
        <div class="profile-card">
            <h2>Anas Abdul Raheman</h2>
            <p>IT Department, MJECT</p>
        </div>
        <div class="profile-card">
            <h2>Maaz Abdul Raheman</h2>
            <p>IT Department, MJECT</p>
        </div>
        <div class="profile-card">
            <h2>Mohammed Adil</h2>
            <p>IT Department, MJECT</p>
        </div>
        <div class="profile-card">
            <h2>Mohammed Zaki</h2>
            <p>IT Department, MJECT</p>
        </div>
        <div class="profile-card">
            <h2>Mohammed Mahroz Uddin Hamza</h2>
            <p>IT Department, MJECT</p>
        </div>
    </section>
    <footer>
        <p>© 2022 Our Team</p>
    </footer>
</body>
</html>